{{#if title}}
<div class="jx-control-group-title">
    {{title}}
    <span style="float: right; padding-right: 7px; cursor: pointer">▲</span>
</div>
{{/if}}
<div class="jx-control-group">
    {{{controlsHtml}}}
</div>
