<table class="cx-calendar">
    <thead>
        <tr>
            <th colspan="7">{{monthName}}</th>
        </tr>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        {{{calendar}}}
    </tbody>
</table>