<table class="jx-calendar">
    <thead>
        <tr>
            <th>{{{prevButton}}}</th>
            <th colspan="5" class="jx-calendar-title">{{monthName}}</th>
            <th>{{{nextButton}}}</th>
        </tr>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        {{{calendar}}}
    </tbody>
</table>