{{#if title}}
<div class="jx-control-group-title">
    {{title}}
    <span class="jx-control-group-expand">▲</span>
</div>
<div class="jx-control-group">
{{/if}}

    {{{controlsHtml}}}

{{#if title}}
</div>
{{/if}}